<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="views/styles.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <script defer src="views/lobbies.dart" type="application/dart"></script>
    <!--<script defer src="packages/browser/dart.js"></script>-->
</head>
<body class="blue accent-2">
<div id="lobby-list-card" class="card white darken-1">
    <div class="card-content black-text" style="text-align: center">
        <div class="card-title">Lobbies</div>
        <div id="lobby-list-collection" class="collection">
            <div id="lobby-list-progress" class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>
        <a id="create-lobby-card-btn" class="waves-effect waves-light btn modal-trigger">Create</a>
    </div>
</div>

<div id="password-card" class="card white darken-1" style="display: none">
    <div class="card-content black-text" style="text-align: center">
        <div class="card-title">Enter Lobby Password</div>
        <div class="input-field col s6">
            <input id="enter-lobby-password" type="password" class="validate">
            <label for="enter-lobby-password">Password</label>
        </div>
        <a id="enter-lobby-password-btn" class="waves-effect waves-light btn modal-trigger">Join</a>
    </div>
</div>
</body>
</html>