<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="views/styles.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <script defer src="views/login.dart" type="application/dart"></script>
    <!--<script defer src="packages/browser/dart.js"></script>-->
</head>
<body class="blue accent-2">
<div id="login-card" class="card white darken-1">
    <div class="card-content black-text" style="text-align: center">
        <div class="card-title">Enter Username</div>
        <div class="input-field col s6">
            <input id="username" type="text" class="validate">
            <label for="username">Username</label>
        </div>
        <a id="login-btn" class="waves-effect waves-light btn modal-trigger">Submit</a>
    </div>
</div>
</body>
</html>