<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-minicolors/2.2.4/jquery.minicolors.min.css"/>
    <link rel="stylesheet" type="text/css" href="views/styles.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-minicolors/2.2.4/jquery.minicolors.min.js"></script>

    <script defer src="views/play.dart" type="application/dart"></script>
    <!--<script defer src="packages/browser/dart.js"></script>-->
</head>
<body class="blue accent-2">
<div id="play-card" class="noselect">
    <div id="player-list-holder" class="card white darken-1">
        <div class="card-content black-text" style="text-align: center">
            <div class="card-title">Players</div>
            <div id="player-list-collection" class="collection"></div>
        </div>
    </div>
    <div>
        <div class="z-depth-2 card white darken-1">
            <div id="canvas-header" class="noselect">
                <div id="current-artist" class="canvas-header-item"></div>
                <div id="current-word" class="canvas-header-item"></div>
                <div id="current-time" class="canvas-header-item"></div>
            </div>
            <canvas id="canvas" width="640" height="480" moz-opaque>
                Canvas is not supported in your browser.
            </canvas>
        </div>
        <div id="artist-options" class="z-depth-2 card white darken-1">
            <input id="color-picker">
            <label for="color-picker" style="display: none"></label>
            <div id="color" style="display: none">#000000</div>
        </div>
    </div>
    <div id="chat-holder" class="card white darken-1">
        <div class="card-content black-text" style="text-align: center">
            <div class="card-title">Chat</div>
            <div id="chat-list" class="collection"></div>
            <div class="input-field col s12">
                <input id="chat-input" type="text" class="validate">
                <label for="chat-input">Guess</label>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#color-picker').minicolors({
            inline: true,
            control: 'wheel',
            change: function(value, opacity) {
                $('#color').text(value);
            }
        });
    });
</script>
</body>
</html>